	{% extends "base.html" %}
	{% block content %}

  <article>
    <h2>Servers: </h2>
    <p>Basics of how servers handle requests, process them, and deliver responses.</p>

    
    <button>Like</button>
  </article>
  

  <article>
    <h2>The Importance of Validating Input: </h2>
    <p>The importance of validating user input, especially the implications that validation has on site security and user experience.</p>

    <button>Like</button>
  </article>

  <article>
    <h2>HTML Templates and Abstraction: </h2>
    <p>Why programmers use HTML templates, how these templates allow programmers to avoid repetition, and understanding of why avoiding repetition is important.</p>

    <button>Like</button>
  </article>
  

	{% endblock %}