  {% extends "base.html" %}
  {% block content %}

  <article>
    <h2>HTML Templates and Abstraction: </h2>
    <p>Your notes should show an understanding of why programmers use HTML templates, how these templates allow programmers to avoid repetition, and understanding of why avoiding repetition is important.</p>

    <p> Today web pages are created dynamically without static files that make up a whole webpage. Templates are an essential component of rendering daynamic websites. A web app will take basic HTML templates and process them with parameters that are passed into the template and render a dynamic webpage. A templating language such as Jinja helps developers render dyanmic HTML, while avoiding repetition and harness the power of abstraction. Avoiding repetition helps developers keep clear and consistant code that can be updated easily and can be utilized through different mediums and applications. Abstract thinking and avoiding repetition go hand-in-hand in creating dynamic awesome websites. </p>

    <button>Like</button>
  </article>

  
  {% endblock %}